In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, when, isnull, isnan
import pyspark.sql.functions as F

In [2]:
# Create a SparkSession
spark = SparkSession.builder \
    .appName("ExprAndcomplexTransformations") \
    .getOrCreate()

In [3]:
df = spark.read.csv("C:\\Users\\Manideep S\\OneDrive - COGNINE\\ML\\Assessments\\PySpark\\Advanced Transformations\\spotify-data.csv", header=True)

In [4]:
describe = df.describe()

In [5]:
describe.show()

+-------+--------------------+----------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+------------------+--------------------+------------------+--------------------+
|summary|                  id|                        name|             artists|         duration_ms|        release_date|                year|        acousticness|        danceability|              energy|    instrumentalness|            liveness|            loudness|         speechiness|            tempo|           valence|              mode|                 key|        popularity|            explicit|
+-------+--------------------+----------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+------------------+--------------------+------------------+--------------------+
|  count|              169909|                      169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|           169909|            169909|            169909|              169909|            169909|              169909|
|   mean|                NULL|                    Infinity|                NULL|   231288.1418480132|    6193.66778670272|   2364.329204512549|   197.1645370254867|  111.97785567892646|   70.88351548936592|   34.04904304044075|  18.160596771242318|   3.800375127691626|   7.298684890419071|118.2752685728231|1.1025985730759738|0.8908536449552403|   5.241965004944528| 34.70704314423688|  0.1841747191110431|
| stddev|                NULL|                         NaN|                NULL|  120689.89773374025|  42244.432826254044|  10908.368278422005|   7127.883283076294|     5511.0978554672|  4321.7813953980385|   3260.780679465746|  2990.6417375221617|  2140.9559210810553|   1472.184747923485|624.7157906911565|13.978222557664571|7.9713833338244475|   4.552642073480786|1307.1414672318592|  2.5199982128416676|
|    min|000G1xMMuwxNHmwVs...|        !Que Vida! - Mono...| ""Cool"" (Allegr...| ""Kamehameha Sch...| ""'Legally Blond...| ""Lidija Kaz'mina""| ""Bobby D'Ambros...| ""Orchestra Sinf...| ""Orchestra Sinf...| ""Loughton High ...| ""Orchestra Sinf...|    'David Baxter']"| ""Orchestra Sinf...|    'Eric Church'|  'Jackson Browne'|       'Limi-T 21'| 'Christina Aguil...|  'José Feliciano'| 'José Luis Rodrí...|
|    max|7zzuPsjj9L3M7ikqG...|화려하지 않은 고백 Confes...|            ['黑豹']|['Wolfgang Amadeu...|['Wolfgang Amadeu...|['Wolfgang Amadeu...|['Vincenzo Bellin...|['Wolfgang Amadeu...|['Vincenzo Bellin...|['Giuseppe Verdi'...|['Giuseppe Verdi'...|['Giuseppe Verdi'...|['Giuseppe Verdi'...|           99.999|            99.992|            99.784|              97.329|            99.429|              97.022|
+-------+--------------------+----------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+------------------+--------------------+------------------+--------------------+

In [6]:
# Count nulls in each column
null_counts = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

In [7]:
null_counts.show()

+---+----+-------+-----------+------------+----+------------+------------+------+----------------+--------+--------+-----------+-----+-------+----+---+----------+--------+
| id|name|artists|duration_ms|release_date|year|acousticness|danceability|energy|instrumentalness|liveness|loudness|speechiness|tempo|valence|mode|key|popularity|explicit|
+---+----+-------+-----------+------------+----+------------+------------+------+----------------+--------+--------+-----------+-----+-------+----+---+----------+--------+
|  0|   0|      0|          0|           0|   0|           0|           0|     0|               0|       0|       0|          0|    0|      0|   0|  0|         0|       0|
+---+----+-------+-----------+------------+----+------------+------------+------+----------------+--------+--------+-----------+-----+-------+----+---+----------+--------+

In [8]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- artists: string (nullable = true)
 |-- duration_ms: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- acousticness: string (nullable = true)
 |-- danceability: string (nullable = true)
 |-- energy: string (nullable = true)
 |-- instrumentalness: string (nullable = true)
 |-- liveness: string (nullable = true)
 |-- loudness: string (nullable = true)
 |-- speechiness: string (nullable = true)
 |-- tempo: string (nullable = true)
 |-- valence: string (nullable = true)
 |-- mode: string (nullable = true)
 |-- key: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- explicit: string (nullable = true)

In [9]:
for i in describe:
    print(i)

Column<'summary'>
Column<'id'>
Column<'name'>
Column<'artists'>
Column<'duration_ms'>
Column<'release_date'>
Column<'year'>
Column<'acousticness'>
Column<'danceability'>
Column<'energy'>
Column<'instrumentalness'>
Column<'liveness'>
Column<'loudness'>
Column<'speechiness'>
Column<'tempo'>
Column<'valence'>
Column<'mode'>
Column<'key'>
Column<'popularity'>
Column<'explicit'>

In [10]:
# Replace empty strings with nulls in all columns
df = df.select([when(col(c) == "", None).otherwise(col(c)).alias(c) for c in df.columns])

In [11]:
df.describe().show()

+-------+--------------------+----------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+------------------+--------------------+------------------+--------------------+
|summary|                  id|                        name|             artists|         duration_ms|        release_date|                year|        acousticness|        danceability|              energy|    instrumentalness|            liveness|            loudness|         speechiness|            tempo|           valence|              mode|                 key|        popularity|            explicit|
+-------+--------------------+----------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+------------------+--------------------+------------------+--------------------+
|  count|              169909|                      169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|              169909|           169909|            169909|            169909|              169909|            169909|              169909|
|   mean|                NULL|                    Infinity|                NULL|   231288.1418480132|    6193.66778670272|   2364.329204512549|   197.1645370254867|  111.97785567892646|   70.88351548936592|   34.04904304044075|  18.160596771242318|   3.800375127691626|   7.298684890419071|118.2752685728231|1.1025985730759738|0.8908536449552403|   5.241965004944528| 34.70704314423688|  0.1841747191110431|
| stddev|                NULL|                         NaN|                NULL|  120689.89773374025|  42244.432826254044|  10908.368278422005|   7127.883283076294|     5511.0978554672|  4321.7813953980385|   3260.780679465746|  2990.6417375221617|  2140.9559210810553|   1472.184747923485|624.7157906911565|13.978222557664571|7.9713833338244475|   4.552642073480786|1307.1414672318592|  2.5199982128416676|
|    min|000G1xMMuwxNHmwVs...|        !Que Vida! - Mono...| ""Cool"" (Allegr...| ""Kamehameha Sch...| ""'Legally Blond...| ""Lidija Kaz'mina""| ""Bobby D'Ambros...| ""Orchestra Sinf...| ""Orchestra Sinf...| ""Loughton High ...| ""Orchestra Sinf...|    'David Baxter']"| ""Orchestra Sinf...|    'Eric Church'|  'Jackson Browne'|       'Limi-T 21'| 'Christina Aguil...|  'José Feliciano'| 'José Luis Rodrí...|
|    max|7zzuPsjj9L3M7ikqG...|화려하지 않은 고백 Confes...|            ['黑豹']|['Wolfgang Amadeu...|['Wolfgang Amadeu...|['Wolfgang Amadeu...|['Vincenzo Bellin...|['Wolfgang Amadeu...|['Vincenzo Bellin...|['Giuseppe Verdi'...|['Giuseppe Verdi'...|['Giuseppe Verdi'...|['Giuseppe Verdi'...|           99.999|            99.992|            99.784|              97.329|            99.429|              97.022|
+-------+--------------------+----------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+------------------+--------------------+------------------+--------------------+

In [12]:
# Count nulls in each column
null_counts = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

In [13]:
null_counts.show()

+---+----+-------+-----------+------------+----+------------+------------+------+----------------+--------+--------+-----------+-----+-------+----+---+----------+--------+
| id|name|artists|duration_ms|release_date|year|acousticness|danceability|energy|instrumentalness|liveness|loudness|speechiness|tempo|valence|mode|key|popularity|explicit|
+---+----+-------+-----------+------------+----+------------+------------+------+----------------+--------+--------+-----------+-----+-------+----+---+----------+--------+
|  0|   0|      0|          0|           0|   0|           0|           0|     0|               0|       0|       0|          0|    0|      0|   0|  0|         0|       0|
+---+----+-------+-----------+------------+----+------------+------------+------+----------------+--------+--------+-----------+-----+-------+----+---+----------+--------+

In [14]:
# Iterate over all columns in the DataFrame
for column in df.columns:
    print(f"Distinct values in column: {column}")
    df.select(column).distinct().show()

Distinct values in column: id
+--------------------+
|                  id|
+--------------------+
|4GcaZeQH8XpwlXTVd...|
|2TbudbWZckUyROv97...|
|4zEOek5wbQSe9GW0I...|
|5FWcOu2gnVDmjw8C3...|
|4rsWgvhStBAH1Kklx...|
|4zYJ5g5Sz3pDtjKkX...|
|1S6iCrQeocXd8uWep...|
|1DZ6qUIRk9rxC4Ksw...|
|1Hpki9JzsPcgi3b3f...|
|170SXQaMZsDKtgyCU...|
|7Dmlki6DmsfeSADhr...|
|5n9SHCEo405mfRHXy...|
|4n0HE2xIpVLuFvE8A...|
|1gJy93yw33uBxRHZn...|
|3TWrkH6F7M6RSkAJ8...|
|63oPQOmWxKIV0fymJ...|
|4I4vAytEiKVIHsJS0...|
|4TyBR6SFjvdxuweSl...|
|7t2teISdD7lzpVDu2...|
|2aoxVzE0MVrWikefg...|
+--------------------+
only showing top 20 rows

Distinct values in column: name
+--------------------+
|                name|
+--------------------+
|Berger: Rondino g...|
|   Vasanta Raja Aala|
|          將來是個謎|
|Messiah, HWV 56, ...|
|Jisne Jalaya Aashian|
|Main Nainon Ka Sa...|
|Kan Kan Kakan (wi...|
|This Is The Time ...|
|If I Knew Then (W...|
|Porgy - Live at t...|
|           The Fakir|
|    Needles and Pins|
|            Goldfish|
|         Lovely Rita|
|Indian Giver - Re...|
|      Tend My Garden|
|            Superfly|
|S.I.B. - Swelling...|
|         Easter Song|
|Workin' Man (Nowh...|
+--------------------+
only showing top 20 rows

Distinct values in column: artists
+--------------------+
|             artists|
+--------------------+
|    ['The Drifters']|
|   ['Wanda Jackson']|
|['Elvis Presley',...|
|['Martha Reeves &...|
|['Blue Öyster Cult']|
|['Earth, Wind & F...|
|     ['Joe Jackson']|
|  ['Alain Barrière']|
|        ['Headpins']|
|['Rickie Lee Jones']|
|     ['Miguel Bosé']|
|"[""Smokin' Armad...|
|['The Flaming Lips']|
|    ['Stiff Dylans']|
|['Maurice Ravel',...|
|    ['Cody Johnson']|
|          ['VÉRITÉ']|
|['Los Cadetes De ...|
|         ['Agust D']|
|    ['Hameeda Bano']|
+--------------------+
only showing top 20 rows

Distinct values in column: duration_ms
+-----------+
|duration_ms|
+-----------+
|     166493|
|     108800|
|     117362|
|     268947|
|     204947|
|     193486|
|     183981|
|      92027|
|     202133|
|     173933|
|     296467|
|     194280|
|     274560|
|     265267|
|     129880|
|     124809|
|     237800|
|     146827|
|     327093|
|     249011|
+-----------+
only showing top 20 rows

Distinct values in column: release_date
+------------+
|release_date|
+------------+
|      240200|
|     1961-07|
|     1970-02|
|    11/11/75|
|     2/12/75|
|     2/17/78|
|      4/8/82|
|     6/24/84|
|     11/8/88|
|     3/30/10|
|     11/6/18|
|     8/24/79|
|     5/15/90|
|     4/20/92|
|     11/5/09|
|     1/22/16|
|      6/7/19|
|      6/1/70|
|     4/12/81|
|    11/10/89|
+------------+
only showing top 20 rows

Distinct values in column: year
+-----------------+
|             year|
+-----------------+
|           164466|
|           1/1/53|
| 'Georges Prêtre'|
|           1/1/08|
|            28600|
|   'Justin Bohon'|
|             1953|
|           7/1/53|
|          Laura]"|
|           232613|
|           1/1/56|
|             1957|
|             1987|
|       Raimondo)"|
|           338907|
|             1956|
|           160200|
|       Marchesa]"|
|             1936|
|             2016|
+-----------------+
only showing top 20 rows

Distinct values in column: acousticness
+------------+
|acousticness|
+------------+
|       0.962|
|       0.871|
|       0.899|
|       0.273|
|       0.151|
|       0.216|
|      0.0325|
|       0.157|
|     0.00665|
|    5.34E-05|
|    4.84E-06|
|      0.0355|
|      0.0606|
|      0.0415|
|     0.00288|
|    3.59E-05|
|     0.00427|
|     0.00364|
|    5.69E-05|
|    1.34E-06|
+------------+
only showing top 20 rows

Distinct values in column: danceability
+------------+
|danceability|
+------------+
|       0.273|
|       0.216|
|       0.157|
|       0.871|
|       0.151|
|       0.962|
|       0.899|
|       0.147|
|       0.671|
|      0.0725|
|        0.55|
|       0.762|
|       0.942|
|       0.358|
|        0.07|
|       0.949|
|       0.311|
|        1953|
|       0.601|
|       0.297|
+------------+
only showing top 20 rows

Distinct values in column: energy
+------+
|energy|
+------+
| 0.151|
| 0.216|
|0.0606|
| 0.273|
|0.0325|
| 0.157|
| 0.899|
| 0.871|
| 0.962|
|0.0355|
|0.0415|
|  0.55|
| 0.147|
| 0.671|
| 0.762|
| 0.937|
| 0.942|
|0.0188|
|0.0725|
|0.0688|
+------+
only showing top 20 rows

Distinct values in column: instrumentalness
+----------------+
|instrumentalness|
+----------------+
|           0.899|
|          0.0355|
|        3.59E-05|
|        4.84E-06|
|           0.871|
|           0.151|
|           0.962|
|           0.157|
|           0.216|
|        1.34E-06|
|          0.0325|
|          0.0415|
|         0.00288|
|        5.69E-05|
|          0.0606|
|         0.00665|
|           0.273|
|         0.00364|
|        8.45E-06|
|        5.34E-05|
+----------------+
only showing top 20 rows

Distinct values in column: liveness
+--------+
|liveness|
+--------+
|   0.151|
|   0.157|
|   0.216|
|  0.0325|
|   0.273|
|   0.871|
|  0.0415|
|  0.0606|
|  0.0355|
|   0.899|
|   0.147|
|  0.0778|
|   0.942|
|    0.55|
|  0.0725|
|   0.762|
|  0.0688|
|   0.671|
|  0.0359|
|3.91E-06|
+--------+
only showing top 20 rows

Distinct values in column: loudness
+--------+
|loudness|
+--------+
|  -12.05|
| -17.775|
| -10.811|
| -25.897|
| -19.212|
|  -8.663|
| -18.173|
| -12.338|
|   0.216|
|   -8.88|
|  -9.868|
| -10.024|
| -28.831|
|  -17.96|
|  -7.922|
|  -8.403|
|  -9.549|
| -19.192|
| -16.348|
| -17.928|
+--------+
only showing top 20 rows

Distinct values in column: speechiness
+-----------+
|speechiness|
+-----------+
|      0.157|
|      0.273|
|     0.0325|
|      0.962|
|     0.0415|
|      0.871|
|      0.216|
|     0.0355|
|     0.0606|
|      0.151|
|    -17.121|
|      0.899|
|    -24.757|
|     0.0778|
|      0.942|
|      0.147|
|     0.0359|
|     0.0725|
|      0.937|
|      0.671|
+-----------+
only showing top 20 rows

Distinct values in column: tempo
+-------+
|  tempo|
+-------+
|115.212|
|106.524|
|124.072|
| 74.839|
|122.575|
|  119.8|
| 73.579|
| 0.0415|
|143.315|
|130.166|
|102.675|
| 91.105|
|114.462|
|118.722|
| 80.986|
|132.033|
|  91.75|
| 87.174|
|175.392|
|172.766|
+-------+
only showing top 20 rows

Distinct values in column: valence
+-------+
|valence|
+-------+
|  0.216|
| 0.0606|
|  0.899|
|  0.871|
|  0.962|
|  0.157|
|  0.151|
|  0.273|
| 0.0415|
| 0.0325|
|112.329|
| 0.0355|
|  0.937|
| 0.0359|
|   0.55|
|  0.762|
|  0.671|
|  0.147|
|  0.942|
| 65.771|
+-------+
only showing top 20 rows

Distinct values in column: mode
+-------+
|   mode|
+-------+
|  0.151|
|  0.273|
|  0.216|
| 0.0688|
|120.476|
| 79.962|
| 0.0872|
|  0.138|
|  0.297|
| 84.906|
|  0.396|
|106.034|
| 0.0811|
|  60.57|
|  0.936|
|   0.11|
|  0.883|
|  0.284|
| 0.0596|
| 0.0671|
+-------+
only showing top 20 rows

Distinct values in column: key
+-------+
|    key|
+-------+
| 0.0606|
|  0.157|
|      7|
| 75.218|
|  0.272|
|   0.32|
|   0.11|
|102.615|
|     11|
| 89.801|
|  0.566|
|131.961|
|-14.924|
| 0.0831|
|      3|
|  0.107|
| 0.0388|
| 0.0591|
| 58.434|
|      8|
+-------+
only showing top 20 rows

Distinct values in column: popularity
+----------+
|popularity|
+----------+
|      0.55|
|    85.923|
|         7|
|        51|
|    0.0714|
|        15|
|        54|
|   -16.136|
|    59.762|
|        11|
|    75.167|
|    -9.632|
|     0.349|
|     0.153|
|        29|
|        69|
|    80.124|
|        42|
|        73|
|     0.522|
+----------+
only showing top 20 rows

Distinct values in column: explicit
+--------+
|explicit|
+--------+
|       7|
|  93.946|
|   0.595|
|      15|
|      11|
|      29|
| 120.606|
|      64|
|       3|
|  0.0358|
|      30|
|       8|
|  92.667|
|    0.25|
|      28|
|      35|
|      16|
|       0|
|   0.122|
|      47|
+--------+
only showing top 20 rows

In [15]:
# Iterate over all columns in the DataFrame
for column in df.columns:
    print(f"Rows with null, NaN, or empty string in column: {column}")
    
    # Filter rows where the column has null, NaN, or an empty string
    df.filter(
        col(column).isNull() | 
        isnan(col(column)) | 
        (col(column) == "")
    ).select(column).distinct().show()

Rows with null, NaN, or empty string in column: id
+---+
| id|
+---+
+---+

Rows with null, NaN, or empty string in column: name
+----+
|name|
+----+
+----+

Rows with null, NaN, or empty string in column: artists
+-------+
|artists|
+-------+
+-------+

Rows with null, NaN, or empty string in column: duration_ms
+-----------+
|duration_ms|
+-----------+
+-----------+

Rows with null, NaN, or empty string in column: release_date
+------------+
|release_date|
+------------+
+------------+

Rows with null, NaN, or empty string in column: year
+----+
|year|
+----+
+----+

Rows with null, NaN, or empty string in column: acousticness
+------------+
|acousticness|
+------------+
+------------+

Rows with null, NaN, or empty string in column: danceability
+------------+
|danceability|
+------------+
+------------+

Rows with null, NaN, or empty string in column: energy
+------+
|energy|
+------+
+------+

Rows with null, NaN, or empty string in column: instrumentalness
+----------------+
|instrumentalness|
+----------------+
+----------------+

Rows with null, NaN, or empty string in column: liveness
+--------+
|liveness|
+--------+
+--------+

Rows with null, NaN, or empty string in column: loudness
+--------+
|loudness|
+--------+
+--------+

Rows with null, NaN, or empty string in column: speechiness
+-----------+
|speechiness|
+-----------+
+-----------+

Rows with null, NaN, or empty string in column: tempo
+-----+
|tempo|
+-----+
+-----+

Rows with null, NaN, or empty string in column: valence
+-------+
|valence|
+-------+
+-------+

Rows with null, NaN, or empty string in column: mode
+----+
|mode|
+----+
+----+

Rows with null, NaN, or empty string in column: key
+---+
|key|
+---+
+---+

Rows with null, NaN, or empty string in column: popularity
+----------+
|popularity|
+----------+
+----------+

Rows with null, NaN, or empty string in column: explicit
+--------+
|explicit|
+--------+
+--------+

df.rdd.getNumPartitions()

In [16]:
df.groupBy(F.spark_partition_id()).count().show()

+--------------------+-----+
|SPARK_PARTITION_ID()|count|
+--------------------+-----+
|                   0|25862|
|                   1|26172|
|                   2|26415|
|                   3|26425|
|                   4|25983|
|                   5|26096|
|                   6|12956|
+--------------------+-----+

# Expr functions

#### Taking new dataset

#### Employee dataset which contain four tables

In [17]:
def extract_data_from_csv(file_name,
                          dir_path = "C:\\Users\\Manideep S\\OneDrive - COGNINE\\ML\\Assessments\\EmploymentData\\",
                          header=True):
    df = spark.read.csv(dir_path+file_name, header=header)
    return df

In [18]:
emp_employee_data_df = extract_data_from_csv("employee_data.csv")

In [19]:
emp_employee_engagement_survey_data_df = extract_data_from_csv("employee_engagement_survey_data.csv")

In [20]:
emp_recruitment_data_df = extract_data_from_csv("recruitment_data.csv")

In [21]:
emp_training_and_development_data_df = extract_data_from_csv("training_and_development_data.csv")

In [22]:
emp_employee_data_df.printSchema()

root
 |-- EmpID: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: string (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: string (nullable = true)

In [23]:
emp_employee_data_df = emp_employee_data_df.withColumn('FullName', F.expr("concat(FirstName,' ',LastName)"))

In [32]:
emp_employee_data_df.head(10)

[Row(EmpID='3427', FirstName='Uriah', LastName='Bridges', StartDate='20-Sep-19', ExitDate=None, Title='Production Technician I', Supervisor='Peter Oneill', ADEmail='uriah.bridges@bilearner.com', BusinessUnit='CCDR', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone C', EmployeeClassificationType='Temporary', TerminationType='Unk', TerminationDescription=None, DepartmentType='Production       ', Division='Finance & Accounting', DOB='07-10-1969', State='MA', JobFunctionDescription='Accounting', GenderCode='Female', LocationCode='34904', RaceDesc='White', MaritalDesc='Widowed', Performance Score='Fully Meets', Current Employee Rating='4', FullName='Uriah Bridges'),
 Row(EmpID='3428', FirstName='Paula', LastName='Small', StartDate='11-Feb-23', ExitDate=None, Title='Production Technician I', Supervisor='Renee Mccormick', ADEmail='paula.small@bilearner.com', BusinessUnit='EW', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone A', EmployeeClassificationType='Part-Time', TerminationType='Unk', TerminationDescription=None, DepartmentType='Production       ', Division='Aerial', DOB='30-08-1965', State='MA', JobFunctionDescription='Labor', GenderCode='Male', LocationCode='6593', RaceDesc='Hispanic', MaritalDesc='Widowed', Performance Score='Fully Meets', Current Employee Rating='3', FullName='Paula Small'),
 Row(EmpID='3429', FirstName='Edward', LastName='Buck', StartDate='10-Dec-18', ExitDate=None, Title='Area Sales Manager', Supervisor='Crystal Walker', ADEmail='edward.buck@bilearner.com', BusinessUnit='PL', EmployeeStatus='Active', EmployeeType='Full-Time', PayZone='Zone B', EmployeeClassificationType='Part-Time', TerminationType='Unk', TerminationDescription=None, DepartmentType='Sales', Division='General - Sga', DOB='06-10-1991', State='MA', JobFunctionDescription='Assistant', GenderCode='Male', LocationCode='2330', RaceDesc='Hispanic', MaritalDesc='Widowed', Performance Score='Fully Meets', Current Employee Rating='4', FullName='Edward Buck'),
 Row(EmpID='3430', FirstName='Michael', LastName='Riordan', StartDate='21-Jun-21', ExitDate=None, Title='Area Sales Manager', Supervisor='Rebekah Wright', ADEmail='michael.riordan@bilearner.com', BusinessUnit='CCDR', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone A', EmployeeClassificationType='Full-Time', TerminationType='Unk', TerminationDescription=None, DepartmentType='Sales', Division='Finance & Accounting', DOB='04-04-1998', State='ND', JobFunctionDescription='Clerk', GenderCode='Male', LocationCode='58782', RaceDesc='Other', MaritalDesc='Single', Performance Score='Fully Meets', Current Employee Rating='2', FullName='Michael Riordan'),
 Row(EmpID='3431', FirstName='Jasmine', LastName='Onque', StartDate='29-Jun-19', ExitDate=None, Title='Area Sales Manager', Supervisor='Jason Kim', ADEmail='jasmine.onque@bilearner.com', BusinessUnit='TNS', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone A', EmployeeClassificationType='Temporary', TerminationType='Unk', TerminationDescription=None, DepartmentType='Sales', Division='General - Con', DOB='29-08-1969', State='FL', JobFunctionDescription='Laborer', GenderCode='Female', LocationCode='33174', RaceDesc='Other', MaritalDesc='Married', Performance Score='Fully Meets', Current Employee Rating='3', FullName='Jasmine Onque'),
 Row(EmpID='3432', FirstName='Maruk', LastName='Fraval', StartDate='17-Jan-20', ExitDate=None, Title='Area Sales Manager', Supervisor='Sheri Campos', ADEmail='maruk.fraval@bilearner.com', BusinessUnit='BPC', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone B', EmployeeClassificationType='Full-Time', TerminationType='Unk', TerminationDescription=None, DepartmentType='Sales', Division='Field Operations', DOB='03-04-1949', State='CT', JobFunctionDescription='Driver', GenderCode='Male', LocationCode='6050', RaceDesc='Black', MaritalDesc='Married', Performance Score='Fully Meets', Current Employee Rating='3', FullName='Maruk Fraval'),
 Row(EmpID='3433', FirstName='Latia', LastName='Costa', StartDate='06-Apr-22', ExitDate='03-Jul-23', Title='Area Sales Manager', Supervisor='Jacob Braun', ADEmail='latia.costa@bilearner.com', BusinessUnit='WBL', EmployeeStatus='Active', EmployeeType='Full-Time', PayZone='Zone B', EmployeeClassificationType='Temporary', TerminationType='Involuntary', TerminationDescription='Me see picture nature degree benefit.', DepartmentType='Sales', Division='General - Eng', DOB='01-07-1942', State='CA', JobFunctionDescription='Technician', GenderCode='Female', LocationCode='90007', RaceDesc='Hispanic', MaritalDesc='Divorced', Performance Score='Exceeds', Current Employee Rating='4', FullName='Latia Costa'),
 Row(EmpID='3434', FirstName='Sharlene', LastName='Terry', StartDate='06-Nov-20', ExitDate='29-Jan-23', Title='Area Sales Manager', Supervisor='Tracy Marquez', ADEmail='sharlene.terry@bilearner.com', BusinessUnit='CCDR', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone C', EmployeeClassificationType='Full-Time', TerminationType='Involuntary', TerminationDescription='Blue community type skill story.', DepartmentType='Sales', Division='Engineers', DOB='07-03-1957', State='OR', JobFunctionDescription='Engineer', GenderCode='Female', LocationCode='97756', RaceDesc='White', MaritalDesc='Divorced', Performance Score='Fully Meets', Current Employee Rating='2', FullName='Sharlene Terry'),
 Row(EmpID='3435', FirstName='Jac', LastName='McKinzie', StartDate='18-Aug-18', ExitDate=None, Title='Area Sales Manager', Supervisor='Sharon Becker', ADEmail='jac.mckinzie@bilearner.com', BusinessUnit='NEL', EmployeeStatus='Active', EmployeeType='Contract', PayZone='Zone B', EmployeeClassificationType='Part-Time', TerminationType='Unk', TerminationDescription=None, DepartmentType='Sales', Division='Executive', DOB='15-05-1974', State='TX', JobFunctionDescription='Executive Assistant', GenderCode='Male', LocationCode='78789', RaceDesc='Black', MaritalDesc='Widowed', Performance Score='Exceeds', Current Employee Rating='3', FullName='Jac McKinzie'),
 Row(EmpID='3436', FirstName='Joseph', LastName='Martins', StartDate='21-Jan-22', ExitDate='29-Jun-23', Title='Area Sales Manager', Supervisor='George Jenkins', ADEmail='joseph.martins@bilearner.com', BusinessUnit='BPC', EmployeeStatus='Active', EmployeeType='Part-Time', PayZone='Zone B', EmployeeClassificationType='Temporary', TerminationType='Resignation', TerminationDescription='Summer personal bag.', DepartmentType='Sales', Division='Engineers', DOB='11-11-1949', State='TX', JobFunctionDescription='Engineer', GenderCode='Male', LocationCode='78207', RaceDesc='Asian', MaritalDesc='Widowed', Performance Score='Fully Meets', Current Employee Rating='5', FullName='Joseph Martins')]

In [36]:
emp_employee_data_df.select('ExitDate').where(col('ExitDate').isNull()).distinct().show()

+--------+
|ExitDate|
+--------+
|    NULL|
+--------+

In [37]:
emp_employee_data_df = emp_employee_data_df.withColumn('Active_Employee', F.expr("""
                                                                                 CASE
                                                                                    WHEN ExitDate IS NULL THEN 'Yes'
                                                                                    Else 'No'
                                                                                 END
                                                                                 """))

In [40]:
emp_employee_data_df_active = emp_employee_data_df.select('FullName','Active_Employee','ExitDate')

In [45]:
emp_employee_data_df_active.show(10, truncate=False)

+---------------+---------------+---------+
|FullName       |Active_Employee|ExitDate |
+---------------+---------------+---------+
|Uriah Bridges  |Yes            |NULL     |
|Paula Small    |Yes            |NULL     |
|Edward Buck    |Yes            |NULL     |
|Michael Riordan|Yes            |NULL     |
|Jasmine Onque  |Yes            |NULL     |
|Maruk Fraval   |Yes            |NULL     |
|Latia Costa    |No             |03-Jul-23|
|Sharlene Terry |No             |29-Jan-23|
|Jac McKinzie   |Yes            |NULL     |
|Joseph Martins |No             |29-Jun-23|
+---------------+---------------+---------+
only showing top 10 rows

In [47]:
df_pd = emp_employee_data_df_active.limit(10).toPandas()

In [48]:
display(df_pd)

          FullName Active_Employee   ExitDate
0    Uriah Bridges             Yes       None
1      Paula Small             Yes       None
2      Edward Buck             Yes       None
3  Michael Riordan             Yes       None
4    Jasmine Onque             Yes       None
5     Maruk Fraval             Yes       None
6      Latia Costa              No  03-Jul-23
7   Sharlene Terry              No  29-Jan-23
8     Jac McKinzie             Yes       None
9   Joseph Martins              No  29-Jun-23

In [54]:
print("emp_training_and_development_data_df")
emp_training_and_development_data_df.printSchema()
print("emp_recruitment_data_df")
emp_recruitment_data_df.printSchema()
print("emp_employee_engagement_survey_data_df")
emp_employee_engagement_survey_data_df.printSchema()
print("emp_employee_data_df")
emp_employee_data_df.printSchema()

emp_training_and_development_data_df
root
 |-- Employee ID: string (nullable = true)
 |-- Training Date: string (nullable = true)
 |-- Training Program Name: string (nullable = true)
 |-- Training Type: string (nullable = true)
 |-- Training Outcome: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Trainer: string (nullable = true)
 |-- Training Duration(Days): string (nullable = true)
 |-- Training Cost: string (nullable = true)

emp_recruitment_data_df
root
 |-- Applicant ID: string (nullable = true)
 |-- Application Date: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Phone Number: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Education Level: string (nullable = true)
 |-- Years of Experience: string (nullable = true)
 |-- Desired Salary: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Status: string (nullable = true)

emp_employee_engagement_survey_data_df
root
 |-- Employee ID: string (nullable = true)
 |-- Survey Date: string (nullable = true)
 |-- Engagement Score: string (nullable = true)
 |-- Satisfaction Score: string (nullable = true)
 |-- Work-Life Balance Score: string (nullable = true)

emp_employee_data_df
root
 |-- EmpID: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: string (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: string (nullable = true)
 |-- FullName: string (nullable = true)
 |-- Active_Employee: string (nullable = false)

In [55]:
training_counts = emp_training_and_development_data_df.groupBy('Employee ID').agg(
    F.count('Training Program Name').alias('Training_Count')
)

In [59]:
training_counts.head(10)

[Row(Employee ID='1090', Training_Count=1),
 Row(Employee ID='1159', Training_Count=1),
 Row(Employee ID='1436', Training_Count=1),
 Row(Employee ID='1512', Training_Count=1),
 Row(Employee ID='1572', Training_Count=1),
 Row(Employee ID='2069', Training_Count=1),
 Row(Employee ID='2088', Training_Count=1),
 Row(Employee ID='2136', Training_Count=1),
 Row(Employee ID='2162', Training_Count=1),
 Row(Employee ID='2294', Training_Count=1)]

In [60]:
performance_training_df = emp_employee_data_df.join(
    training_counts,
    emp_employee_data_df['EmpID'] == training_counts['Employee ID'],
    'left'
).select(
    'EmpID', 'Performance Score', 'Training_Count'
)

In [61]:
performance_training_df.head(10)

[Row(EmpID='3427', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3428', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3429', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3430', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3431', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3432', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3433', Performance Score='Exceeds', Training_Count=1),
 Row(EmpID='3434', Performance Score='Fully Meets', Training_Count=1),
 Row(EmpID='3435', Performance Score='Exceeds', Training_Count=1),
 Row(EmpID='3436', Performance Score='Fully Meets', Training_Count=1)]

In [70]:
avg_salary_by_job = emp_recruitment_data_df.groupBy('Job Title').agg(
    F.avg('Desired Salary').cast('float').alias('Average_Salary')
)

In [72]:
# Order by 'Average_Salary' in descending order
ordered_avg_salary_by_job = avg_salary_by_job.orderBy(
    F.col('Average_Salary').desc()
)

In [74]:
ordered_avg_salary_by_job.head(10)

[Row(Job Title='Radiographer, therapeutic', Average_Salary=99803.1875),
 Row(Job Title='Logistics and distribution manager', Average_Salary=96806.390625),
 Row(Job Title='Volunteer coordinator', Average_Salary=95091.84375),
 Row(Job Title='Network engineer', Average_Salary=93886.234375),
 Row(Job Title='Office manager', Average_Salary=92865.65625),
 Row(Job Title='Occupational psychologist', Average_Salary=92078.5078125),
 Row(Job Title='Accounting technician', Average_Salary=91205.328125),
 Row(Job Title='Broadcast journalist', Average_Salary=91098.1171875),
 Row(Job Title='Newspaper journalist', Average_Salary=90624.703125),
 Row(Job Title='Further education lecturer', Average_Salary=89188.1484375)]